/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 170vh;
}

.container-nav2 {
    display: flex;
    margin-left: 810px;
}

#photo-profile {
    width: 40px;
    height: 40px;
}

#bell {
    width: 50px;
    height: 40px;
}

.container-box-principal {
    min-height: 40vh;
    background-color: rgb(128, 78, 207);
}

.container-hero {
    margin-left: 100px;
}

.container-hero > h2 {
    font-size: 32px;
    color: white;
}

.container-hero > p {
    margin: 3px;
    color: grey;
}

.container-buttons {
    margin-left: 100px;
    margin-top: 20px;
}

.button {
    border-color: 1px solid green;
}

.container-box {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    font-size: 7px;
}

.container-box p {
    font-size: 12px;
    color: grey;
}

.container-final {
    margin-top: 90px;
    margin-left: 120px;
}

#hero {
    width: 30%;
    display: flex;
}

.container-final > img {
    width: 250px;
    margin: 10px;
}

.container-final2 > img {
    width: 250px;
    margin: 10px;
    margin-left: 40px;
}